force-app/force-app/force-app/main/default/flows/Account_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountNameUpdateInuppercase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Zone_No</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zone_No</name>
        <label>Assign Zone No</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountZoneFormat</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignNewZoneNo</name>
        <label>Assign New Zone No</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountNewZoneNo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Previous_Records_size</name>
        <label>Check Previous Records size</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>AssignNewZoneNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if New Records</defaultConnectorLabel>
        <rules>
            <name>If_it_have_previous_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Zone_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zone_No</targetReference>
            </connector>
            <label>If it have previous Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipping_Address_same_as_Billing_Address</name>
        <label>Check Shipping Address same as Billing Address?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Shipping_Address_same_as_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Address_same_as_Billing_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <label>Is Shipping Address same as Billing Address?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Zone_No</name>
        <label>Check Zone No</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Zone_No_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Zone_Records</targetReference>
            </connector>
            <label>If Zone No Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountNameUpdateInuppercase</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>AccountNewZoneNo</name>
        <dataType>String</dataType>
        <expression>&quot;EM-Z-&quot; + {!zoneCode} + &quot;-000001&quot;</expression>
    </formulas>
    <formulas>
        <name>AccountZoneFormat</name>
        <dataType>String</dataType>
        <expression>&quot;EM-Z-&quot; + {!zoneCode} +&quot;-&quot;+ LPAD(TEXT({!zonePriviousNo} + 1), 6, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>zoneCode</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!zoneValue}, 1)) &amp; IF(
    FIND(&quot; &quot;, {!zoneValue}) &gt; 0,
    UPPER(MID({!zoneValue}, FIND(&quot; &quot;, {!zoneValue}) + 1, 1)),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>zonePriviousNo</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Get_Previous_Zone_Records.Zone_Number__c}, 6))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Zone_Records</name>
        <label>Get Previous Zone Records</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Previous_Records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Assign_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Shipping_Address_Line_1__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Line_2__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Line_3__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Continent__c</field>
            <value>
                <elementReference>$Record.Continent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_District__c</field>
            <value>
                <elementReference>$Record.Billing_District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Pincode__c</field>
            <value>
                <elementReference>$Record.Billing_Pincode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Place__c</field>
            <value>
                <elementReference>$Record.Billing_Place__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>$Record.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Shipping_Address_same_as_Billing_Address</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>zoneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Zone__c</elementReference>
        </value>
    </variables>
</Flow>
