force-app/force-app/force-app/main/default/flows/Account_Overseas_Auto_number_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Zone</name>
        <label>Assign Zone</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.OverseasNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZoneFormatNewRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Zone_Value</name>
        <label>Assign Zone Value</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.OverseasNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadzoneFormat</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Overseas_Number</name>
        <label>Check Overseas Number</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Overseas_No_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OverseasNo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Meta_data</targetReference>
            </connector>
            <label>If Overseas No Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Size</name>
        <label>Check Size</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_Zone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If New Record</defaultConnectorLabel>
        <rules>
            <name>If_List_Has_Previous_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Lead_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zone_Value</targetReference>
            </connector>
            <label>If List Has Previous Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadzoneFormat</name>
        <dataType>String</dataType>
        <expression>&quot;EM-O-&quot; + {!ZoneCode} +&quot;-&quot;+ LPAD(TEXT({!ZonePreviousNo} + 1), 6, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>PreviousNo</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Get_Previous_Lead_Records.OverseasNo__c}, 6))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ZoneCode</name>
        <dataType>String</dataType>
        <expression>{!Get_Custom_Meta_data.Country_Code__c}</expression>
    </formulas>
    <formulas>
        <name>ZoneFormatNewRecord</name>
        <dataType>String</dataType>
        <expression>&quot;EM-O-&quot; + {!ZoneCode} + &quot;-000001&quot;</expression>
    </formulas>
    <formulas>
        <name>ZoneNo</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Previous_Lead_Records.OverseasNo__c}, LEN({!Get_Previous_Lead_Records.OverseasNo__c}) - FIND(&quot;-&quot;, {!Get_Previous_Lead_Records.OverseasNo__c}) - 1)</expression>
    </formulas>
    <formulas>
        <name>ZonePreviousNo</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Get_Previous_Lead_Records.OverseasNo__c}, 6))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ZonetNoInt</name>
        <dataType>Number</dataType>
        <expression>Value({!ZoneNo})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account Overseas Auto number Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Overseas Auto number Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Meta_data</name>
        <label>Get Custom Meta data</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Lead_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Information__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Lead_Records</name>
        <label>Get Previous Lead Records</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OverseasNo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Overseas_Number</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>zoneNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>ZonetNoInt</elementReference>
        </value>
    </variables>
    <variables>
        <name>ZoneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Zone__c</elementReference>
        </value>
    </variables>
</Flow>
