force-app/force-app/force-app/main/default/flows/Calculate_Total_Month_Expense_In_Tour_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Total_Expense</name>
        <label>Assign Total Expense</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Totalcurrency</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_Each_Month.Total_Expected_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Each_Month</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Calculate Total Month Expense In Tour Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Total Month Expense In Tour Plan</label>
    <loops>
        <name>Loop_For_Each_Month</name>
        <label>Loop For Each Month</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Records_For_Each_Month</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Expense</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Month_Expense</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_For_Each_Month</name>
        <label>Get Records For Each Month</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Each_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tour_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Month_Expense</name>
        <label>Update Total Month Expense</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Total_Month_Expense__c</field>
            <value>
                <elementReference>Totalcurrency</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_For_Each_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Of_The_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Tour_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Totalcurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
