force-app/force-app/force-app/main/default/flows/Create_Purchase_Item_record_on_Order_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_PurchaseItems_to_collection</name>
        <label>Assign PurchaseItems to collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>purchaseItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Purchase_item_field_variables</name>
        <label>Assign values to Purchase item field variables</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>purchaseItem.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ActivatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purchaseItem.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Products_record.Total_Price_With_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purchaseItem.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Products_record.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purchaseItem.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purchaseItem.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PurchaseItems_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Create a record in a Purchase Item object when an order is activated</description>
    <environments>Default</environments>
    <interviewLabel>Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Purchase Item record on Order Activation</label>
    <loops>
        <name>Loop_Order_Products_record</name>
        <label>Loop Order Products record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Order_Products_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Purchase_item_field_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Purchase_Item_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a record in Purchase Item Object</description>
        <name>Create_Purchase_Item_Record</name>
        <label>Create Purchase Item Record</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all the order products</description>
        <name>Get_Order_Products_Records</name>
        <label>Get Order Products Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Products_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchased_Item__c</objectType>
    </variables>
    <variables>
        <name>OrderDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>purchaseItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchased_Item__c</objectType>
    </variables>
</Flow>
