force-app/force-app/force-app/main/default/flows/Create_Update_Actual_Exp_In_Sales_Plan_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Sales_Plan_Review</name>
        <label>Assign Sales Plan Review</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Sales_Plan_Review.Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Sales_Plan_Review.Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Sales_Plan_Review.Actual_Exp_for_the_month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Plan_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Target_for_the_Month</name>
        <label>Assign Sales Target for the Month</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Sales_Plan_Review.Actual_Exp_for_the_month__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Total_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Target_for_the_Month</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Whether_Record_Exists</name>
        <label>Check Whether Record Exists</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Sales_Plan_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Plan_Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Target_for_the_Month</targetReference>
            </connector>
            <label>Record Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create/Update Actual Exp In Sales Plan Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Update Actual Exp In Sales Plan Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sales_Plan_Review</name>
        <label>Create Sales Plan Review</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Sales_Plan_Review</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Plan_Review</name>
        <label>Get Sales Plan Review</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Plan_Budget_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Target_for_the_Month</name>
        <label>Update Sales Target for the Month</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Sales_Plan_Review</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Plan_Review</targetReference>
        </connector>
        <object>Travel_Expenses__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
