force-app/force-app/force-app/main/default/flows/Customer_Feedback_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Delivery</name>
        <label>Add Delivery</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Timely_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Documentation</name>
        <label>Add Documentation</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Overall_Feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Life</name>
        <label>Add Life</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Performance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Overall_Feedback</name>
        <label>Add Overall Feedback</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer_Feedback_Parameter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Performance</name>
        <label>Add Performance</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Price</name>
        <label>Add Price</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Timely_Response</name>
        <label>Add Timely Response</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Assign_Customer_Feedback_Parameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customer_feedback_parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Documentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delivery</name>
        <label>Assign Delivery</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Documentation</name>
        <label>Assign Documentation</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Documentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Life</name>
        <label>Assign Life</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Overall_Feedback</name>
        <label>Assign Overall Feedback</label>
        <locationX>176</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overall feedback</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Overall_Feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Performance</name>
        <label>Assign_Performance</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Performance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Performance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price</name>
        <label>Assign Price</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Timely_Response</name>
        <label>Assign Timely Response</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Feedback_Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timely Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_feedback_parameter.Customer_Feedback_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Timely_Response</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Customer Feedback Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Feedback Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Feedback_Parameter</name>
        <label>Create Customer Feedback Parameter</label>
        <locationX>176</locationX>
        <locationY>1835</locationY>
        <inputReference>Assign_Customer_Feedback_Parameter</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Life</targetReference>
        </connector>
        <object>Customer_Feedback_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Assign_Customer_Feedback_Parameter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Feedback_Parameter__c</objectType>
    </variables>
    <variables>
        <name>Customer_feedback_parameter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Feedback_Parameter__c</objectType>
    </variables>
</Flow>
