force-app/force-app/force-app/main/default/flows/EPA_Total_Area_Of_Improvement_Nos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>assign a variable to get the total</description>
        <name>assign_to_EPA_field</name>
        <label>assign to EPA field</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>totalAreaofImprovement</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_areaofimprovement_DCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_Area_of_Improvement_Nos</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>EPA Total Area Of Improvement Nos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EPA Total Area Of Improvement Nos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the records with area of improvement checked</description>
        <name>get_areaofimprovement_DCR</name>
        <label>get areaofimprovement DCR</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_to_EPA_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Month_in_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Area_of_Improvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Call_Report_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EPA_Area_of_Improvement_Nos</name>
        <label>Update EPA Area of Improvement Nos</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Area_of_Improvement_Nos__c</field>
            <value>
                <elementReference>totalAreaofImprovement</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_areaofimprovement_DCR</targetReference>
        </connector>
        <object>Daily_Call_Report_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>totalAreaofImprovement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
