force-app/force-app/force-app/main/default/flows/EPA_New_Customer_Addition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignCustomerNew</name>
        <label>assignCustomerNew</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varCustomerNew</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Customer_new</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomerNew</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>EPA New Customer Addition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EPA New Customer Addition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Customer_new</name>
        <label>get Customer new</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>New_Existing_LCR__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCustomerNew</name>
        <label>updateCustomerNew</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Customer_Addtion_Nos__c</field>
            <value>
                <elementReference>varCustomerNew</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Customer_new</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCustomerNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
