force-app/force-app/force-app/main/default/flows/EPA_New_OEM_Addition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_Customer_CP</name>
        <label>assign Customer CP</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCountCP</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Customer_CP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_CP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CustomerOEM</name>
        <label>assign CustomerOEM</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCountOEM</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Customer_OEM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_OEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustomerREPL</name>
        <label>assign Customer REPL</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCountREPL</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Customer_REPL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_REPL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_category</name>
        <label>check category</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>category_is_CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Customer_CP</targetReference>
            </connector>
            <label>category is CP</label>
        </rules>
        <rules>
            <name>category_ids_OEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Customer_OEM</targetReference>
            </connector>
            <label>category ids OEM</label>
        </rules>
        <rules>
            <name>category_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REPL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Customer_REPL</targetReference>
            </connector>
            <label>category is REPL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EPA New OEM Addition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EPA New Customer Addition by Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Customer_CP</name>
        <label>get Customer CP</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Customer_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Customer_OEM</name>
        <label>get Customer OEM</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_CustomerOEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OEM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Customer_REPL</name>
        <label>get Customer REPL</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerREPL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REPL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EPA_CP</name>
        <label>Update EPA CP</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Channel_Partner_addition_Nos__c</field>
            <value>
                <elementReference>varCountCP</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EPA_OEM</name>
        <label>Update EPA OEM</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_OEM_addition_Nos__c</field>
            <value>
                <elementReference>varCountOEM</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EPA_REPL</name>
        <label>Update EPA REPL</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_In_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Repl_addition_Nos__c</field>
            <value>
                <elementReference>varCountREPL</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_category</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCountCP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountOEM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountREPL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
