force-app/force-app/force-app/main/default/flows/EPA_MI_and_CI_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_Related_to_Competitor_Records</name>
        <label>assign Related to Competitor Records</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>relatedToCompetitor</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Related_to_Competitor_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_CI_Nos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Related_to_market_records</name>
        <label>assign Related to market records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>relatedToMarket</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Related_to_Market_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_MI_Nos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Related_To_Value</name>
        <label>Check Related To Value</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>get_Related_to_Competitor_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related to Competitor</defaultConnectorLabel>
        <rules>
            <name>Related_To_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Related_to_Market_Records</targetReference>
            </connector>
            <label>Related To Market</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EPA MI and CI Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EPA MI and CI Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Related_to_Competitor_Records</name>
        <label>get Related to Competitor Records</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Related_to_Competitor_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Month_in_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_to__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Markets_and_Competitors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Related_to_Market_Records</name>
        <label>get Related to Market Records</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Related_to_market_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Month_in_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_to__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Market</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Markets_and_Competitors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EPA_CI_Nos</name>
        <label>Update EPA CI Nos</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Collected_Nos__c</field>
            <value>
                <elementReference>relatedToCompetitor</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EPA_MI_Nos</name>
        <label>Update EPA MI Nos</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MI_Collected_Nos__c</field>
            <value>
                <elementReference>relatedToMarket</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Related_To_Value</targetReference>
        </connector>
        <object>Markets_and_Competitors__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>relatedToCompetitor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>relatedToMarket</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
