force-app/force-app/force-app/main/default/flows/Executive_Rating_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_coll1</name>
        <label>Add to coll1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Peformance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll10</name>
        <label>add to coll10</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PO_acknow_tmely_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_coll2</name>
        <label>Add to coll2</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Aesthetics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll3</name>
        <label>add to coll3</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fitment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll4</name>
        <label>add to coll4</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dimension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll5</name>
        <label>add to coll5</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll6</name>
        <label>add to coll6</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TimelyDelivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll7</name>
        <label>add to coll7</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ease_to_access_personal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll8</name>
        <label>add to coll8</label>
        <locationX>176</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Timely_Response_to_communication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll9</name>
        <label>add to coll9</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Timely_attn_to_prod_Serv_complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_11</name>
        <label>add to coll 11</label>
        <locationX>176</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Version_Diffrn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_12</name>
        <label>add to coll 12</label>
        <locationX>176</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stencil_Size_marking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_13</name>
        <label>add to coll 13</label>
        <locationX>176</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inadequate_technical_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_14</name>
        <label>add to coll 14</label>
        <locationX>176</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Packing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_15</name>
        <label>add to coll 15</label>
        <locationX>176</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_On_time_Deivery_Intimation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_16</name>
        <label>add to coll 16</label>
        <locationX>176</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Courier_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_17</name>
        <label>add to coll 17</label>
        <locationX>176</locationX>
        <locationY>3887</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TransportService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_18</name>
        <label>add to coll 18</label>
        <locationX>176</locationX>
        <locationY>4103</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_QCReport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_19</name>
        <label>add to coll 19</label>
        <locationX>176</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Documentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_20</name>
        <label>add to coll 20</label>
        <locationX>176</locationX>
        <locationY>4535</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Indl_tyre_solutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_21</name>
        <label>add to coll 21</label>
        <locationX>176</locationX>
        <locationY>4751</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Import_substitute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_22</name>
        <label>add to coll 22</label>
        <locationX>176</locationX>
        <locationY>4967</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tyre_Wheel_assembly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_23</name>
        <label>add to coll 23</label>
        <locationX>176</locationX>
        <locationY>5183</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fitment_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_24</name>
        <label>add to coll 24</label>
        <locationX>176</locationX>
        <locationY>5399</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Customised_solutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_coll_25</name>
        <label>add to coll 25</label>
        <locationX>176</locationX>
        <locationY>5615</locationY>
        <assignmentItems>
            <assignToReference>Assign_Executive_Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_Executive_ratingSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Executive_Rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Aesthetics</name>
        <label>Assign Aesthetics</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aesthetics</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Courier_Service</name>
        <label>Assign Courier Service</label>
        <locationX>176</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Courier Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customised_solutions</name>
        <label>Assign Customised solutions</label>
        <locationX>176</locationX>
        <locationY>5507</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customised solutions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_25</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dimension</name>
        <label>Assign Dimension</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimension</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Documentation</name>
        <label>Assign Documentation</label>
        <locationX>176</locationX>
        <locationY>4427</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ease_to_access_personal</name>
        <label>Assign Ease to access personal</label>
        <locationX>176</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ease to access personal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fitment</name>
        <label>Assign Fitment</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fitment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fitment_Solution</name>
        <label>Assign Fitment Solution</label>
        <locationX>176</locationX>
        <locationY>5291</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fitment Solution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Import_substitute</name>
        <label>Assign Import substitute</label>
        <locationX>176</locationX>
        <locationY>4859</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Import substitute</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_22</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inadequate_technical_info</name>
        <label>Assign Inadequate technical info</label>
        <locationX>176</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inadequate technical info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Life</name>
        <label>Assign Life</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_coll1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_On_time_Deivery_Intimation</name>
        <label>Assign On time Deivery Intimation</label>
        <locationX>176</locationX>
        <locationY>3563</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On time Deivery Intimation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Packing</name>
        <label>Assign Packing</label>
        <locationX>176</locationX>
        <locationY>3347</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Packing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Peformance</name>
        <label>Assign Peformance</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peformance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_coll2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_acknow_tmely_Commit</name>
        <label>Assign PO acknow &amp; tmely Commit</label>
        <locationX>176</locationX>
        <locationY>2483</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO acknow &amp; tmely Commit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price</name>
        <label>Assign Price</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QCReport</name>
        <label>Assign QC Report</label>
        <locationX>176</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QC Report</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stencil_Size_marking</name>
        <label>Assign Stencil / Size marking</label>
        <locationX>176</locationX>
        <locationY>2915</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stencil / Size marking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Timely_attn_to_prod_Serv_complaint</name>
        <label>Assign Timely attn to prod/Serv complaint</label>
        <locationX>176</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timely attn to prod/Serv complaint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Timely_Response_to_communication</name>
        <label>Assign Timely Response to communication</label>
        <locationX>176</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timely Response to communication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TimelyDelivery</name>
        <label>Assign Timely Delivery</label>
        <locationX>176</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timely Delivery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Indl_tyre_solutions</name>
        <label>Assign Total  Indl tyre solutions</label>
        <locationX>176</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total Indl tyre solutions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_21</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TransportService</name>
        <label>Assign Transport Service</label>
        <locationX>176</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transport Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tyre_Wheel_assembly</name>
        <label>Assign Tyre-Wheel assembly</label>
        <locationX>176</locationX>
        <locationY>5075</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tyre-Wheel assembly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_23</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Version_Diffrn</name>
        <label>Assign Version Diffrn.</label>
        <locationX>176</locationX>
        <locationY>2699</locationY>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Parameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Version Diffrn.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Executive_ratingSingle.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_coll_12</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Executive Rating Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Executive Rating Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Executive_Rating</name>
        <label>Create Executive Rating</label>
        <locationX>176</locationX>
        <locationY>5723</locationY>
        <inputReference>Assign_Executive_Rating</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Life</targetReference>
        </connector>
        <object>Customer_Satisfaction_Index__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Assign_Executive_Rating</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Rating__c</objectType>
    </variables>
    <variables>
        <name>assign_Executive_ratingSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Rating__c</objectType>
    </variables>
</Flow>
