force-app/force-app/force-app/main/default/flows/Order_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Asset_to_Collection</name>
        <label>Add Asset to Collection</label>
        <locationX>264</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>AssetItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>add individual Order Items to a collection</description>
        <name>add_to_Order_Item_collection</name>
        <label>add to Order Item collection</label>
        <locationX>264</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>coll_S_Order_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_Order_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_qli</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>map Quote Line Item values to a Order Product</description>
        <name>Copy_1_of_map_QLI_to_Order_Product</name>
        <label>Copy 1 of map QLI to Order Product</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>S_Order_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.Product_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.Tax_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.Tax_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.UoM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.UoM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.VD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.VD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.PPD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.PPD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.SPL_DISCOUNT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.SPL_DISCOUNT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.Quote_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Order_Item.Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_qli.Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_Order_Item_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_QLI_to_Asset</name>
        <label>Map QLI to Asset</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Opp_Product_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Flat_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Opp_Product_Flat_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Products.Opp_Product_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>assigned QLI to a variable and then add to Order Item collection variable</description>
    <environments>Default</environments>
    <interviewLabel>Order Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Creation Flow</label>
    <loops>
        <name>Iterate_Opportunity_Products</name>
        <label>Iterate Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_QLI_to_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_qli</name>
        <label>loop over qli</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_map_QLI_to_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_assets</name>
        <label>Create assets</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <inputReference>AssetItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Line_Items</name>
        <label>Create Order Line Items</label>
        <locationX>176</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Create_assets</targetReference>
        </connector>
        <inputReference>coll_S_Order_Products</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Records</name>
        <label>Create Order Records</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>loop_over_qli</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.BankAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Term__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Credit_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Schedule__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Delivery_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.SyncedQuote.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Freight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_of_Transport__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Mode_of_Transport__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PORT_OF_LOADING__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.PORT_OF_LOADING__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Supply__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Place_Of_Supply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_Of_Discharge__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Port_Of_Discharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>$Record.SyncedQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validity__c</field>
            <value>
                <elementReference>$Record.SyncedQuote.Validity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Pricebook_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Pricebook_Id</name>
        <label>Get Product Pricebook Id</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>coll_S_Order_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>collection of Quote Line ITems</description>
        <name>coll_S_QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sobject Order Item variable</description>
        <name>S_Order_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
