force-app/force-app/force-app/main/default/flows/Quote_Line_Item_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Total_Price</name>
        <label>Assign Quote Total Price</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.QLI_Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QLI_Total_Price_Temp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxAmountCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Price_after_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Price_after_Discount_Temp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Taxable_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Taxable_Value_Temp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Total_Price</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DiscountPercentage</name>
        <dataType>Number</dataType>
        <expression>(({!$Record.Quote_Subtotal__c} - {!$Record.UnitPrice})/{!$Record.Quote_Subtotal__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaxAmountCalculation</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Taxable_Value_Temp__c}* {!$Record.Tax_Code__r.Rate__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote Line Item Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Item Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Total_Price</name>
        <label>Update Total Price</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Quote_Total_Price</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
