force-app/force-app/force-app/main/default/flows/Service_Request_Report_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Assign_Values</name>
        <label>Copy 1 of Assign Values</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Reports.No_Of_Tasks_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reports.Within_1_Day__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Values</name>
        <label>Copy 2 of Assign Values</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Reports.No_Of_Tasks_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reports.RecordCount_2_3_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Values</name>
        <label>Copy 3 of Assign Values</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Reports.No_Of_Tasks_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reports.RecordCount_4_5_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Values</name>
        <label>Copy 4 of Assign Values</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Reports.No_Of_Tasks_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reports.RecordCount_6_7_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Values</name>
        <label>Copy 5 of Assign Values</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Reports.No_Of_Tasks_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reports.More_Than_7_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_No_Of_Days</name>
        <label>Check No Of Days</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Within_1_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Values</targetReference>
            </connector>
            <label>If Within 1 Day</label>
        </rules>
        <rules>
            <name>X2_3_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Values</targetReference>
            </connector>
            <label>2-3 Days</label>
        </rules>
        <rules>
            <name>X4_5_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Values</targetReference>
            </connector>
            <label>4-5 Days</label>
        </rules>
        <rules>
            <name>X6_7_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Values</targetReference>
            </connector>
            <label>6-7 Days</label>
        </rules>
        <rules>
            <name>More_Than_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Values</targetReference>
            </connector>
            <label>More Than 7 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Already_Exist</name>
        <label>Check Record Already Exist</label>
        <locationX>1458</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_No_Of_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Of_Days</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_No_Of_Days</name>
        <label>Copy 1 of Check No Of Days</label>
        <locationX>2206</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Within_1_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_a_Service_Request_Report</targetReference>
            </connector>
            <label>Copy 1 of If Within 1 Day</label>
        </rules>
        <rules>
            <name>Copy_1_of_2_3_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_a_Service_Request_Report</targetReference>
            </connector>
            <label>Copy 1 of 2-3 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_4_5_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_a_Service_Request_Report</targetReference>
            </connector>
            <label>Copy 1 of 4-5 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_6_7_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Create_a_Service_Request_Report</targetReference>
            </connector>
            <label>Copy 1 of 6-7 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_More_Than_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_End_No_of_days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Create_a_Service_Request_Report</targetReference>
            </connector>
            <label>Copy 1 of More Than 7 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Request Report Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Request Report Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_a_Service_Request_Report</name>
        <label>Copy 1 of Create a Service Request Report</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Executive__c</field>
            <value>
                <elementReference>$Record.To_Recipient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_Tasks_Assigned__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Within_1_Day__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Service_Request_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_a_Service_Request_Report</name>
        <label>Copy 2 of Create a Service Request Report</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Executive__c</field>
            <value>
                <elementReference>$Record.To_Recipient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_Tasks_Assigned__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordCount_2_3_Days__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Service_Request_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_a_Service_Request_Report</name>
        <label>Copy 3 of Create a Service Request Report</label>
        <locationX>2074</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Executive__c</field>
            <value>
                <elementReference>$Record.To_Recipient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_Tasks_Assigned__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordCount_4_5_Days__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Service_Request_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_a_Service_Request_Report</name>
        <label>Copy 4 of Create a Service Request Report</label>
        <locationX>2338</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Executive__c</field>
            <value>
                <elementReference>$Record.To_Recipient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_Tasks_Assigned__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordCount_6_7_Days__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Service_Request_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Create_a_Service_Request_Report</name>
        <label>Copy 5 of Create a Service Request Report</label>
        <locationX>2602</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Service_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Executive__c</field>
            <value>
                <elementReference>$Record.To_Recipient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>More_Than_7_Days__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_Tasks_Assigned__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Service_Request_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Reports</name>
        <label>Get Reports</label>
        <locationX>1458</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.To_Recipient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Report</name>
        <label>Update Service Report</label>
        <locationX>1458</locationX>
        <locationY>923</locationY>
        <inputReference>Get_Reports</inputReference>
    </recordUpdates>
    <start>
        <locationX>1332</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_End_No_of_days__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
