force-app/force-app/force-app/main/default/flows/TE_Breakup_Total_Expense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Courier</name>
        <label>Assign Courier</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Courier__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Courier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_Batta</name>
        <label>Assign Day Batta</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Day_Batta__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Day_Batta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fuel</name>
        <label>Assign Fuel</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Fuel__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fuel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_local_conveyance</name>
        <label>Assign local conveyance</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Local_Conveyance__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Local_Conveyance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lodging</name>
        <label>Assign Lodging</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Lodging__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Bill_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Miscellaneous</name>
        <label>Assign Miscellaneous</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Miscellaneous__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Miscellaneous</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_Data</name>
        <label>Assign Mobile Data</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Mobile_Data__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mobile_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stationery</name>
        <label>Assign Stationery</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Stationery__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stationery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Toll</name>
        <label>Assign Toll</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Toll__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Toll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Travel_Batta</name>
        <label>Assign Travel Batta</label>
        <locationX>2954</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Travel_Batta__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Travel_Batta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Travel_Expense</name>
        <label>Assign Travel Expense</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Travel_Fare__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Xerox</name>
        <label>Assign Xerox</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Travel_Expences.Xerox__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Xerox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_the_record_type</name>
        <label>Checking the record type</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_is_Travel_fare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel_Fare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Travel_Expense</targetReference>
            </connector>
            <label>Record Type is Travel fare</label>
        </rules>
        <rules>
            <name>Record_Type_is_Lodging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lodging</targetReference>
            </connector>
            <label>Record Type is Lodging</label>
        </rules>
        <rules>
            <name>Record_Type_is_LocalConveyance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local_Conveyance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_local_conveyance</targetReference>
            </connector>
            <label>Record Type is Local Conveyance</label>
        </rules>
        <rules>
            <name>Record_Type_is_Xerox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xerox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Xerox</targetReference>
            </connector>
            <label>Record Type is Xerox</label>
        </rules>
        <rules>
            <name>Record_Type_is_Stationery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stationery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stationery</targetReference>
            </connector>
            <label>Record Type is Stationery</label>
        </rules>
        <rules>
            <name>Record_Type_is_Courier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Courier</targetReference>
            </connector>
            <label>Record Type is Courier</label>
        </rules>
        <rules>
            <name>Record_Type_is_Fuel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fuel</targetReference>
            </connector>
            <label>Record Type is Fuel</label>
        </rules>
        <rules>
            <name>Record_Type_is_Toll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Toll</targetReference>
            </connector>
            <label>Record Type is Toll</label>
        </rules>
        <rules>
            <name>Record_Type_is_Miscellaneous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Miscellaneous</targetReference>
            </connector>
            <label>Record Type is Miscellaneous</label>
        </rules>
        <rules>
            <name>Record_Type_is_Mobile_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_Data</targetReference>
            </connector>
            <label>Record Type is Mobile Data</label>
        </rules>
        <rules>
            <name>Record_Type_is_Day_Batta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day_Batta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Day_Batta</targetReference>
            </connector>
            <label>Record Type is Day Batta</label>
        </rules>
        <rules>
            <name>Record_Type_is_Travel_Batta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RecordType_Id.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel_Batta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Travel_Batta</targetReference>
            </connector>
            <label>Record Type is Travel Batta</label>
        </rules>
    </decisions>
    <description>Update Travel expenses Breakup values into Travel Expenses</description>
    <environments>Default</environments>
    <interviewLabel>TE Breakup Total Expense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Travel Expenses Breakup-Update Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_RecordType_Id</name>
        <label>get RecordType Id</label>
        <locationX>1634</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Travel_Expences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Travel_Expences</name>
        <label>Get Travel Expences</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_the_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Travel_Expense__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Travel_Expenses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bill_Value</name>
        <label>Update Bill Value</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Courier</name>
        <label>Update Courier</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Day_Batta</name>
        <label>Update Day Batta</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fuel</name>
        <label>Update Fuel</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Local_Conveyance</name>
        <label>Update Local Conveyance</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Miscellaneous</name>
        <label>Update Miscellaneous</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mobile_Data</name>
        <label>Update Mobile Data</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stationery</name>
        <label>Update Stationery</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Toll</name>
        <label>Update Toll</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Travel_Batta</name>
        <label>Update Travel Batta</label>
        <locationX>2954</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Xerox</name>
        <label>Update Xerox</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Travel_Expences</inputReference>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_RecordType_Id</targetReference>
        </connector>
        <object>Travel_Expenses_Breakup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
