force-app/force-app/force-app/main/default/flows/Total_Expense_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_total_expense</name>
        <label>Assign total expense</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>total_expense</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_travel_expence.Total_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_travel_expence</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Total Expense Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Expense Update</label>
    <loops>
        <name>loop_over_travel_expence</name>
        <label>loop over travel expence</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_travel_expense</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_total_expense</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_total_expense</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_travel_expense</name>
        <label>get travel expense</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_travel_expence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Travel_Expenses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_total_expense</name>
        <label>Update total expense</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>total_month_expense__c</field>
            <value>
                <elementReference>total_expense</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_travel_expense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>last_day_of_month__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Travel_Expenses__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>total_expense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
