force-app/force-app/force-app/main/default/flows/update_EPA_with_CFB_collected_No.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_CFB_For_the_month</name>
        <label>assign CFB For the month</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varCountCFB</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_CFB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EPA_FOR_CFB</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>update EPA with CFB collected No {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update EPA with CFB collected No</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CFB</name>
        <label>get CFB</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_CFB_For_the_month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Month_in_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Customer_Feedback_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EPA_FOR_CFB</name>
        <label>Update EPA FOR CFB</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CFB_Collected_Nos__c</field>
            <value>
                <elementReference>varCountCFB</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_CFB</targetReference>
        </connector>
        <object>Customer_Feedback_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCountCFB</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
