force-app/force-app/force-app/main/default/flows/Update_EPA_with_Total_no_of_calls_made.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_count_of_call</name>
        <label>assign count of call</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varCountCalls</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_DCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_EPA_with_DCR</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update EPA with Total {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update EPA with Total no of calls made</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_DCR</name>
        <label>get DCR</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_count_of_call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Month_in_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Call_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_EPA_with_DCR</name>
        <label>update EPA with DCR</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_In_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Month_in_number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_No_of_Calls_made__c</field>
            <value>
                <elementReference>varCountCalls</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Performance_Appraisal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_DCR</targetReference>
        </connector>
        <object>Daily_Call_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCountCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
