force-app/force-app/force-app/main/default/flows/Update_Actual_Expenses_In_Executive_PA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Values_To_Actual_Expenses</name>
        <label>Add Values To Actual Expenses</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Executive_PA_Records.Actual_Expenses__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Total_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Actual_Expenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_Actual_Expenses</name>
        <label>Assign Value For Actual Expenses</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Executive_PA_Records.Actual_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Executive_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Assignment</name>
        <label>Fault Assignment</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Actual_Expenses_Has_Value_Or_Not</name>
        <label>Actual Expenses Has Value Or Not</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_For_Actual_Expenses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_Expenses_Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Executive_PA_Records.Actual_Expenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Values_To_Actual_Expenses</targetReference>
            </connector>
            <label>Actual Expenses Has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Executive_PA_Exists_For_That_Month</name>
        <label>Check Executive PA Exists For That Month</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Executive_PA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Executive_PA_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_Expenses_Has_Value_Or_Not</targetReference>
            </connector>
            <label>Executive PA Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedBy_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.CreatedBy.FirstName} + &apos; &apos; + {!$Record.CreatedBy.LastName}</expression>
    </formulas>
    <interviewLabel>Update Actual Expenses In Executive PA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Actual Expenses In Executive PA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Executive_PA_Records</name>
        <label>Get Executive PA Records</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Executive_PA_Exists_For_That_Month</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Executive__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Executive_Performance_Appraisal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Actual_Expenses</name>
        <label>Add Actual Expenses</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Executive_PA_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Executive_PA</name>
        <label>Update Executive PA</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Executive_PA_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Executive_PA_Records</targetReference>
        </connector>
        <object>Travel_Expenses__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Fault</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
